<section class="brands-row-container">
  <div class="mx-[20px] grid place-content-evenly gap-[80px]">
    {% for block in section.blocks %}
      <div class="mx-[68px]">
        <img class="w-full h-auto" src="{{block.settings.brand_img | img_url: ''}}" alt="">
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "brands-row",
  "class": "section",
  "settings": [],
  "blocks": [
    {
      "name": "brands-picker",
      "type": "brands-picker",
      "settings": [
        {
          "type": "image_picker",
          "id": "brand_img",
          "label": "Insert brand image"
        }
      ]
    }
  ]
}
{% endschema %}
