<section class="features-info">
  <div class="mx-[20px] bg-[{{section.settings.bg_color}}]">
    {% for block in section.blocks %}
      <div><img src="{{block.settings.block_icon | img_url :''}}" alt=""></div>
      <p>{{ block.settings.block_text }}</p>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "features-info",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Insert background color"
    }
  ],
  "blocks": [
    {
      "name": "icons-with-text",
      "type": "icons-with-text",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_icon",
          "label": "Input Icon"
        },
        {
          "type": "text",
          "id": "block_text",
          "label": "Input text"
        }
      ]
    }
  ]
}
{% endschema %}
