<div class="hero-section swiper">
  <div class="swiper-wrapper grid place-items-center grid-flow-col text-center">
    {% render 'product-card' for section.settings.col_product_list as product, swiper: 'swiper-slide' %}
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
<script>
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,
    slidesPerView: 1,
    spaceBetween: 10,
    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      // when window width is >= 320px
      680: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
    },
  });
</script>
{% schema %}
{
  "name": "t:sections.collage.name",
  "tag": "section",
  "settings": [
    {
      "type": "product_list",
      "id": "col_product_list",
      "label": "Product List"
    }
  ]
}
{% endschema %}
