<div class="hero-section pb-[70px]">
  <div>
    <p class="hero-title text-center josefin mx-auto mb-[30px] title mt-[26px] text-[#7E7E7E]">
      {{ section.settings.hero_title }}
    </p>
  </div>
  <div class="grid place-items-center swiper">
    <div class="swiper-wrapper md:mb-[68px] grid place-items-center grid-flow-col text-center">
      {% render 'product-card' for section.settings.col_product_list as product, swiper: 'swiper-slide' %}
    </div>
    <div class="swiper-button-prev font-black !block"></div>
    <div class="swiper-button-next font-black !block"></div>
  </div>
</div>
<style>
  @media screen and ("min-width: 640px") {
    .swiper-slide-active img {
    }
  }
</style>
<script>
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,
    slidesPerView: 1,
    spaceBetween: 10,
    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      680: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
    },
  });
</script>
{% schema %}
{
  "name": "Hero Section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "hero_title",
      "label": "Input title"
    },
    {
      "type": "product_list",
      "id": "col_product_list",
      "label": "Product List",
      "limit": 4
    }
  ]
}
{% endschema %}
